# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# Virtualenv
venv/
.venv/
ENV/
env/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
coverage.xml
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrig

# nginx
nginx/ssl/*.crt
nginx/ssl/*.cnf
